/* Standard Section */

* {
    font-family: sans-serif;
    color: #f9f6ee;
}

p, a {
    font-size: 18px;
}


body {
    background-color: #323232;
    padding-top: 50px;
}

.container {
    margin: 10px 5px 0px 5px;
    width: 100%;
}

.block {
    display: block;
    background-color: #1f1e22;
    border-radius: 25px;
    width: fit-content;
    padding: 1px 20px 4px 20px;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-grow: 1;
    flex-wrap: wrap;
}

/* Top Universal Nav Section */

.topnavbar {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background: linear-gradient(90deg, #6b0099 0%, #8e00cc 100%);
    border-radius: 25px;
    position: fixed;
    top: 10px;
    left: 10px;
    right: 10px;
    min-width: 400px;
}

.topnavbar a {
    float: left;
    display: block;
    text-align: center;
    font-weight: bold;
    padding: 14px 16px;
    text-decoration: none;
}

.topnavbar a:hover {
    background-color: #2a2c31;
}

/* Index Section */

.banner {
    text-align: center;
    padding: 1px 20px;
    margin: 10px 5px;
    border-radius: 25px;
    background-image: url(/assets/images/Background.png);
    background-position-x: center;
    background-position-y: -40px;
}

/* About Section */

.linkicon {
    width: 50px;
    height: 50px;
}

.linkcert {
    width: 200px;
    height: 200px;
    border-radius: 25px;
}

/* Blog Section */

.blog {
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.blogtitle {
    margin: 20px 20px;
    text-align: center;
}

.content {
    width: clamp(200px, 50%, 800px);
    margin: auto;
}

.content img {
    display: block;
    max-width: 100%;
    height: auto;
    max-height: 250px;
    margin: auto;
    border-radius: 5px;
}

.highlighter-rouge {
    display: block;
    background-color: #000;
    padding: 2px 10px;
    margin: auto;
    max-width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    border-radius: 5px;
}

.blogfooter {
    background: linear-gradient(90deg, #6b0099 0%, #8e00cc 100%);
    border-radius: 25px;
    padding: 12px 0px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
}

.topofpage {
    position: fixed;
    right: 5px;
    bottom: 5px;
    background-color: #8e00cc;
    border-radius: 25px;
    padding: 4px 10px;
    text-decoration: none;
    font-size: x-large;
}



